/*========================Settings to all page=========================*/
body{    
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*Bootstrap*/
.conteiner{   
    display: flex;
}

/*wrapper with padding on the sides*/
.wrapper{   
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

/*==========================Navigation items==========================*/
.navigation{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Setting font size and style for nav items*/
.nav{         
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
}

/*Setting distance between nav items*/
.nav>li{
    padding-left: 23px;
    margin-left: 23px;
    position: relative;
}

/*Setting first item*/
.nav>li:first-child::before{
    display: none;
}

/*Setting dropdown links without styling links*/
.dropdown a {
    text-decoration: none;
    color: #494949;
}

/**/
.dropdown {
  position: relative;
  display: inline-block;
}

/*Setting style for dropbutton*/
.dropbtn {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  padding-left: 23px;
  margin-left: 23px;
  color: #494949;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.dropbtn, .dropbtn:active, .dropbtn:focus{
    outline: none;
}

.dropbtn:hover, .dropbtn:focus {
    color: #8660c5;
    transition: 0.5s ease-out;
    transition-delay: 0.7s ease-out;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.nav>li>a{
    text-decoration: none;
    color: #494949;
}

.nav a:hover{
    color: #8660c5;
    transition: 0.5s ease-out;
    transition-delay: 0.7s ease-out;
}

/* The playlists menu */
.playlists {
  height: 1000px; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #212529;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The playlists links */
.playlists a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.playlists a:hover {
  color:  #8660c5;
  transition: 0.5s ease-out;
  transition-delay: 0.7s ease-out;
}

/* Position and style the close button (top right corner) */
.playlists .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the playsts */
.openbtn {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: #494949;
  padding-left: 0px;
  margin-left: 0px;
  border: 0px solid transparent;
  box-shadow: 0px 0px 0px transparent;
  text-transform: uppercase;
  text-shadow: 0px 0px 0px transparent;
}

/*"My playlists, that shows pl menu"*/
.openbtn:hover {
  color: #8660c5;
  transition: 0.5s ease-out;
  transition-delay: 0.7s ease-out;

}
.openbtn, .openbtn:active, .openbtn:focus{
  outline: none;
}
.playlists .show_popup1 {/*Style of pl menu links*/
  position: absolute;
  color: white;
  top: 0;
  font-size: 36px;
}
.playlists .show_popup2 {/*Style of pl menu links*/
  position: center;
  color: white;
  top: 0;
  font-size: 30px;
}
/*=================================BANNER===============================*/
.banner{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 285px;
}

/*"Listen and enjoy"*/
.title{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    text-shadow: 0 2px 5px #da8063;
}
/*"by 1ON3 & Jandarm"*/
.description{
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 70px;
    
}

/*Buttons of AM, Spotify and Soundcloud*/
.btns{
    display: flex;
    justify-content: space-evenly;
}
.btn:hover{
    color: #eaeaea;
    background-color: #212529;
}

/*Style of btn*/
.btn{
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid black;
    padding: 16px;
    text-align: center;
}
#cntr_btn{  /*Margin to left and right btns*/
    margin-left: 50px;
    margin-right: 50px;
}

/*Header "Tracklist" & "About Us"*/
.title2{
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  text-shadow: 0 1px 3px black;
}


/*===========================BOOTSTRAP GRID==============================*/
#track_col1, #track_col2, #track_col3{
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* 4 columns side by side */
.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column,  #track_col1, 
    #track_col2, #track_col3{
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-height: 730px;
    font-size: 15px;
  }
  


  /*=============================COVERS==============================*/
  .cover {
    display: block;
    width: 100%;
    height: auto;
  }
  .container:hover .overlay {
    opacity: 1;
  }

  /*Height of cards to align them*/
  #card_track1, #card_track2, #card_track3{
    min-height: 415px;
  }
  
  /*Stylizing of track names*/
  .track_names{
    text-align: center;
      
  }
    

  /*"Click to listen"*/
  .listen {
    color: white;
    font-size: 20px;
   
    display: flex;
    
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    margin-top: 47.5%;
  }

  /*Fade overlay of cards*/
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url("../img/play.PNG") !important;
    background-size: contain;
    background-repeat: no-repeat;

  }
  /*Contrasting text in the overlay*/
  .a_listen, .a_listen:hover{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
    

  /*======================TEAM MEMBERS CARDS==========================*/
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /*Role of each team memb*/
  .role {
    color: #8660c5;
    font-size: 18px;
  }
    
    
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /*=================================POP-UP WINDOW========================*/
   .overlay_popup_create {   /*BLACKOUT */
    display:none;   /*Hidden at start*/
    position:fixed;
    width: 100%;
    height: 100%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:#000;    /*blackout*/
    opacity:0.5;
    /* overflow-y: scroll; ??????*/
  }

  /*pop-up window*/
  .popup_create {     
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    text-align: center;
    border: 3px solid #8660c5;  /*border of pop-up window*/
    color: #8660c5;   /*text color*/
    background: #fff;
    padding: 50px 70px;
  }
  /*=================================POP-UP WINDOW EDIT========================*/
.overlay_popup_edit {   /*BLACKOUT */
  display:none;   /*Hidden at start*/
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background:#000;    /*blackout*/
  opacity:0.5;
  /* overflow-y: scroll; ??????*/
}
/*pop-up window*/
.popup_edit {     
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 900px;
  height: 600px;
  text-align: center;
  border: 3px solid #8660c5;  /*border of pop-up window*/
  color: #8660c5;   /*text color*/
  background: #fff;
  padding: 50px 70px;
}


  /*===================================FORM=================================*/
  .ui-form {
    max-width: 350px;
    padding: 10px 30px 10px;
    margin: 10px auto 10px;
    background: white;
  }
  /*Header of pl pop-up window*/
  .newPlaylistHeader{
    margin-bottom: 100px;
  }


  .form-row {
    position: relative;
    margin-bottom: 40px;
  }

  /*INPUT pop-up design*/
  .form-row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #8660c5;
    transition: all 0.5s ease;
  }
  /*LABEL pop-up design*/
  .form-row label {
    position: absolute;
    left: 13px;
    padding-top: 40px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-60px);
    font-size: 14px;
    font-weight: 400;
    outline: 0;
  }
   .form-row input:focus {
    outline: 0;
    border-color: #da8063;
  }
  .form-row input:focus + label 
  { 
    border-color: #da8063;
    color: #da8063;
  } 
  

  .ui-form input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #8660c5;
    border-width: 0;
    color: white;
    font-size: 20px;
  }
  .ui-form p {
    margin: 0;
    padding-top: 10px;
  }

 
  .ui-form input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #8660c5;
    border-width: 0;
    color: white;
    font-size: 20px;
  }

  /*"CREATE" button pop-up window*/
  .btn_create input {
    background-color: #8660c5;
    border: none;
    color: #eaeaea;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 300px;
    height: 60px;
    margin: 12px 0px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }
  .btn_create input:hover{
    background-color: #212529;
    color: #fff;
  }
  .btn_create input:active, .btn_create input:focus{
    outline: none;
  }
  /*"SAVE" button pop-up window*/
  .btn_save input {
    background-color: #8660c5;
    border: none;
    color: #eaeaea;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 300px;
    height: 60px;
    margin: 12px 0px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  }
  .btn_save input:hover{
    background-color: #212529;
    color: #fff;
  }
  .btn_save input:active, .btn_save input:focus{
    outline: none;
  }


  /*==========================FOOTER==============================*/
  .footer {
    height: 35px;
    background-color: #290d0d;
  }
  
  .centerfooter {
    height: 100%;
    width: 800px;
  }

  .footer p {
    padding-top: 5px;
    color: #fff;
    text-align: left;
  }
